html,
body {
  padding: 0;
  margin: 0;
  overscroll-behavior-y: contain;
}


a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

html {
  color-scheme: dark;
}

body {
  color: white;
  background: #121212;
}

@font-face {
  font-family: 'Aero Matics';
  font-weight: 400;
  font-style: normal;
  src: url('/fonts/Aero Matics Regular.ttf') format('truetype')
}

@font-face {
  font-family: 'Aero Matics Display';
  font-weight: 400;
  font-style: normal;
  src: url('/fonts/Aero Matics Display Regular.ttf') format('truetype')
}

@font-face {
  font-family: 'Aero Matics Light';
  font-weight: 400;
  font-style: normal;
  src: url('/fonts/Aero Matics Light.ttf') format('truetype')
}

@font-face {
  font-family: 'Aero Matics Bold';
  font-weight: 400;
  font-style: normal;
  src: url('/fonts/Aero Matics Bold.ttf') format('truetype')
}

@font-face {
  font-family: 'Aero Matics Display Bold';
  font-weight: 400;
  font-style: normal;
  src: url('/fonts/Aero Matics Display Bold.ttf') format('truetype')
}

@font-face {
  font-family: 'Armada Icons';
  font-weight: 400;
  font-style: normal;
  src: url('/fonts/Armada Icons v2.ttf') format('truetype')
}

@font-face {
  font-family: 'Armada Regular';
  font-weight: 400;
  font-style: normal;
  src: url('/fonts/Armada Regular.ttf') format('truetype')
}

@font-face {
  font-family: 'Armada Squadron Icons';
  font-weight: 400;
  font-style: normal;
  src: url('/fonts/Armada Squadron Icons v2.ttf') format('truetype')
}

@font-face {
  font-family: 'Armada Ship Icons';
  font-weight: 400;
  font-style: normal;
  src: url('/fonts/Armada Ship Icons v2.ttf') format('truetype')
}

@font-face {
  font-family: 'Optima';
  font-weight: 400;
  font-style: normal;
  src: url('/fonts/Optima.ttf') format('truetype')
}

@font-face {
  font-family: 'Teuton Fett';
  font-weight: 400;
  font-style: normal;
  src: url('/fonts/TeutonFett.ttf') format('truetype')
}

@font-face {
  font-family: 'Teuton Normal';
  font-weight: 400;
  font-style: normal;
  src: url('/fonts/TeutonNormal.ttf') format('truetype')
}

::-webkit-scrollbar {
  display: none;
}
